
.header_topbar{
    height: 40px;
    background-color: blue;
}
.header_topbar .logo{
    height: 100%;
}
.def_div_height{height: 100%;}
.mn{margin: 0;padding: 0;}
.div_def_width{width: 95%}
.ant-modal-body{padding-bottom: 5px !important;}
.layout{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}